.app{
  display: flex;
  width: 100%;
}

.header{
    position: fixed;
    top:0;
    width: 100%;
    height: 25px;
    background-color:white;
    color: #385360;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    box-shadow: 0px 1px 5px #b5b5b5;
}


#gauges{
  justify-content: space-around;
}

.header .weather-icon{
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: sub;
}

.header div{
    padding-right: 20px;
    padding-left: 20px;
}


.container{
    display: flex;
    margin: 20px;
}

.container div {
  display: flex;
  align-items: center;
  padding: 10px;
}

.flex-row{
  flex-direction: row;
  padding:0 !important;
}

.flex-col{
  flex-direction: column;
  padding: 0 !important;
}


.grid-cont-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gauge-heading{
  font-size: 20px;
}


table, td, th {
 border: 1px solid #536a76;
 padding: 5px;
    text-align: center;
}

table{
  width: 100%;
  border-collapse: collapse;
}

#gauges svg{
  width: auto;
  max-width: 100%;
}

.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
            animation: icon-spin 2s infinite linear;
  }
  
  @-webkit-keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  
  @keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }


#cpu-cores-table{
  font-size: 13px;
  width: 80%;
}