.header{
    position: fixed;
    top:0;
    width: 100%;
    height: 25px;
    background-color:#385360;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header div{
    padding-right: 20px;
    padding-left: 20px;
}


.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px;
}

.grid-item{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    padding: 10px;
}

.icon-spin {
    -webkit-animation: icon-spin 2s infinite linear;
            animation: icon-spin 2s infinite linear;
  }
  
  @-webkit-keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
  
  @keyframes icon-spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(359deg);
              transform: rotate(359deg);
    }
  }
